<div class="row">
  <div class="col">
    <h1>BugBot</h1>

    <p class="auth-link">
      <%= link to: Routes.auth_path(@conn, :authenticate) do %>
        <i class="icon ion-logo-github"></i> Github
      <% end %>
    </p>
  </div>
</div>
