<div class="row">
  <div class="col">
    <h1>BugBot</h1>

    <p><%= link "Logout", to: Routes.auth_path(@conn, :delete), method: :delete %></p>

    <p>You are signed in with github.</p>

    <div>
      <pre><%= inspect(@user, pretty: true) %></pre>
    </div>

    <div>
      <img src="<%= @user.avatar_url %>">
    </div>
  </div>
</div>
